#sub-header {height: 300px !important;background: linear-gradient(284deg, #1cc7d0, #2dde98) !important;}
#about {background: #fff;padding: 30px;position: relative;top: -50px;}
#footer {position: absolute;bottom: 0;width: 100%;}