#sub-header {height: 300px;background: linear-gradient(284deg, #ff512f, #dd2476) !important;}
.post-info-header h2 {font-size: 20px !important;font-weight: 900 !important;}
.post-info-header p {font-size: 15px !important;}
.categorys li {margin: 10px 0;}
.categorys .category {margin: 10px;color: #333;}
